<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>   
</head>
<body id="top">
    <div class="loaded">
        <div class="ring"></div>
    </div>
    <header>
        <div class="container">
            <div class="content_header">
                <div class="title_header">
                    <p>Free shipping on over $100</p>
                </div>
                <div class="info_header">
                    <div class="language">
                        <select name="language" id="">
                            <option value="UK">ENG</option>
                            <option value="US">USA</option>
                            <option value="VN">VN</option>
                        </select>
                    </div>
                    <div class="currency">
                        <select name="currency" id="">
                            <option value="USD">USD</option>
                            <option value="EURO">EURO</option>
                            <option value="VND">VND</option>
                        </select>
                    </div>
                    <div class="account">
                        <select name="account" id="">
                            <option value="login">
                                <a href="">Login</a>
                            </option>
                            <option value="register">
                                <a href="">Register</a>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="wrap_menu">
                <div class="menu">
                    <div class="main_menu">
                            <i class="fa-solid fa-bars"></i>
                            <i class="fa-solid fa-x"></i>
                            <div class="sub_menu hidden">
                                <ul>
                                    <li>
                                        <a href="./login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="./register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="./index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="./cart.html">Cart</a>
                                    </li>
                                    <li>
                                        <a href="./checkout.html">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="./product.html">Prouduct</a>
                                    </li>
                                </ul>
                            </div> 
                    </div>  
                </div>
                <a href="./index.html" class="logo">
                    Cristy
                </a>
                <div class="cart_search">
                    <div class="cart">
                        <a href="./cart.html">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <div class="number">0</div>
                        </a>
                        
                    </div>
                    <div class="search">
                        <input type="text">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="slider_main">
                <div class="slider_background1">
                    <div class="content">
                        <h1>New Arrivals</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem illo accusamus beatae pariatur perferendis necessitatibus illum sed dolores amet magni? Maiores pariatur nesciunt reiciendis doloribus esse! Recusandae rerum excepturi inventore.</p>
                        <a href="">New Collection -></a>
                    </div>
                    
                </div>
                <div class="slider_background2">
                    <div class="background">
                        <img src="../images/background.png" alt="">
                    </div>
                    <div class="background">
                        <img src="../images/background_slider2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="collection">
                <div class="content_collection">
                    <h1 class="title_collection">Out Collections</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quisquam recusandae, voluptate saepe molestiae commodi, cupiditate vero magnam rerum molestias debitis, placeat quis. Corporis temporibus suscipit excepturi asperiores? Odio, aliquam.</p>
                </div>
                <div class="filter_collection">
                    <div class="bars"><i class="fa-solid fa-bars"></i>  Filter</div>
                    <div class="sorting"> 
                        <select name="sorting" id="">
                            <option value="default">Default Shorting</option>
                            <option value="az">Default A-Z</option>
                            <option value="za">Default Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="list_collection">
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../images/product_1.png" width="100%">
                        <div class="detail_product">
                            <h5 class="title_product">Jugle Moc Slip-on</h5>
                            <p class="price_product">$300</p>
                            <div class="buy_product">
                                <a href=""><i class="fa-regular fa-eye"></i></a>
                                <button href=""><i class="fa-solid fa-bag-shopping js-buy-product"></i></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="view_all">
                    <a href="">View All Product</a>
                </div>
            </div>
            <div class="slider_second">
                <div class="slider_backgrounds">
                    <div class="content">
                        <h1>2016 Nike</h1>
                        <h1>The Best Classical</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem illo accusamus beatae pariatur perferendis necessitatibus illum sed dolores amet magni? Maiores pariatur nesciunt reiciendis doloribus esse! Recusandae rerum excepturi inventore.</p>
                        <a href="">New Collection -></a>
                    </div>
                    
                </div>
                <div class="slider_backgrounds">
                    <div class="background">
                        <img src="../images/background_slider2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="list_news">
                <div class="news">
                    <img src="../images/news1.png" alt="">
                    <div class="body_news">
                        <h2 class="title_news">Get 20% OFF on Nike Uomo</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis nihil cumque voluptas accusantium porro aliquam hic tenetur vitae cum quibusdam. Vero laudantium unde maxime ducimus, repudiandae reiciendis laboriosam quia sit.</p>
                        <a href="">Read more...</a>
                    </div>
                    <div class="date">22 Aug</div>
                </div>
                <div class="news">
                    <img src="../images/news2.png" alt="">
                    <div class="body_news">
                        <h2 class="title_news">Get 20% OFF on Nike Uomo</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis nihil cumque voluptas accusantium porro aliquam hic tenetur vitae cum quibusdam. Vero laudantium unde maxime ducimus, repudiandae reiciendis laboriosam quia sit.</p>
                        <a href="">Read more...</a>
                    </div>
                    <div class="date">10 Jul</div>
                </div>
                <div class="news">
                    <img src="../images/news3.png" alt="">
                    <div class="body_news">
                        <h2 class="title_news">Get 20% OFF on Nike Uomo</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis nihil cumque voluptas accusantium porro aliquam hic tenetur vitae cum quibusdam. Vero laudantium unde maxime ducimus, repudiandae reiciendis laboriosam quia sit.</p>
                        <a href="">Read more...</a>
                    </div>
                    <div class="date">11 May</div>
                </div>
                
            </div>
            <div class="slider_third">
                <div class="best_seller">
                    <div class="background_best">
                        <img src="../images/best_saler.png" alt="">
                    </div>
                </div>
                <div class="best_seller">
                    <div class="content_seller">
                        <h2>Nike Metcon 2</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis doloribus veniam dignissimos. Fugit commodi, explicabo molestias, enim voluptatem voluptas dolores sequi pariatur cupiditate ab amet dolorem impedit adipisci tempora eaque!</p>
                        <a href="">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="grid_footer">
                <div class="company">
                    <div>Company</div>
                    <ul>
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Our Shops</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Delivery</a>
                        </li>
                    </ul>
                </div>
                <div class="help">
                    <div>Help</div>
                    <ul>
                        <li>
                            <a href="">Contact us</a>
                        </li>
                        <li>
                            <a href="">FQA</a>
                        </li>
                        <li>
                            <a href="">Help</a>
                        </li>
                        <li>
                            <a href="">Terms</a>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <div>Get Social</div>
                    <ul>
                        <li>
                            <a href=""><i class="fa-brands fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <div>Contact</div>
                    <p>7/4 Fire Briagde Road Khula 9100 Bangladesh</p>
                    <p><span style="font-weight: bold;">Phone: </span> 123-456-789</p>
                    <p><span style="font-weight: bold;">Email: </span>support@domain.com</p>
                </div>
            </div>
        </div>

    </footer>
    <div class="scroll-top">
        <a href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    
    <script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>